---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";
import Logos from "@components/logos.astro";
import Faq from "@components/faq.astro";

changeLanguage("en");

const pricingData = [
    {
        name: "Hourly Rate",
        price: "R750",
        popular: false,
        features: ["Initial Assesment", "Risk Conversation", "Policy creation (IOT, Privacy)", "OSINT (Open Source intelligence)", "Phishing Email analysis", "DNS investigation"],
        button: {
            text: "Get Started",
            link: "/contact",
        },
    },
    {
        name: "Security as a service",
        price: {
            monthly: "R 10,000",
            annual: "R 100,000",
        },
        popular: true,
        features: [
            "Sytems mapping",
            "Disaster recovery planning",
            "Training and Awareness",
            "Incident Response Capability",
            "Avanced Red Team infrastructure",
            "Reporting and evaluation",
        ],
        button: {
            text: "Get Started",
            link: "/saas",
        },
    },
    {
        name: "Enterprise",
        price: "Custom",
        popular: false,
        features: ["Multi-vector business enablers", "Solutions architecture planning", "Outcomes and Objectives based", "Secure Application testing", "Advanced threat intelligence"],
        button: {
            text: "Contact us",
            link: "/contact",
        },
    },
];
---

<Layout title="Pricing">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Pricing</Fragment>
			<Fragment slot="desc">Affordable Excellence: See Our Pricing.</Fragment>
		</Sectionhead>

		<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-20">
			{pricingData.map((item) => <Pricing plan={item} />)}
		</div>
		<!-- <Logos /> -->
		<Faq />
	</Container>
</Layout>
