---
import { changeLanguage } from "i18next";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("it");
---

<Layout>
	<Container>
        <h1>Who we are.</h1>
        <p>Technical risk specialists.</p>
	</Container>
</Layout>
